<h3>Word: "<%= @word.title %>"</h3>

  <% if @definitions.any? %> 
    <ul>
      <% @definitions.each do |definition| %>
        <li>         
          <a href="/words/<%= @word.id %>/definitions/<%= definition.id %>"><%= definition.body%></a>     
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No definitions yet! Add a definition!</p>
  <% end %>

  <form action="/words/<%= @word.id %>" method="post">
    <div class="form-group">
      <label for="definition_body">Type the definition here! Some words have multiple definitions, so feel free to type more than 1!</label>
      <input id="definition_body" name="definition_body" class='form-control' type="text">
    </div>
    <button type="submit" class="btn">Save Definition!</button>
  </form>

  <form action="/words/<%= @word.id() %>" method="post">
    <input name="_method" type="hidden" value="delete">
    <button type="submit" class="btn">Delete Word!</button>
  </form>
  <p><a href="/words/<%= @word.id %>/edit">Edit Word!</a></p>
  <p><a href='/words'>Go back to your words!</a><p>

